<div class="Item hr">
    <span class="fr">现有用户<b>{$count}</b>位</span>
    <div class="current">管理员列表</div>
</div>
<form>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab">
        <thead>
            <tr>
                <td>用户名</td>
                <td>备注</td>
                <td>状态</td>
                <td>创建时间</td>
                <td>最后登录时间</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody>
            <volist name="list" id="user">
            <tr align="center">
                <td>{$user['name']}</td>
                <td>{$user['remark']}</td>
                <td><if condition="$user['is_active'] eq 1">已启用<else/>已禁用</if></td>
                <td>{:date('Y-m-d H:i:s', $user['created'])}</td>
                <td>{:date('Y-m-d H:i:s', $user['last_login'])}</td>
                <td><if condition="$user['is_super'] && !$_SESSION[C('ADMIN_AUTH_KEY')]">---<else/>[ <a href="{:U('User/edit', array('id' => $user['id']))}">编辑</a> ]</if></td>
            </tr>
            </volist>
        </tbody>
    </table>
</form>

<div class="page">
    {$page}
</div>
